.titulo{
  text-align: center;
  color: aliceblue;
  border: 10px solid;
  background-image: url(https://c.tenor.com/knqFRdji8ucAAAAC/ocean-sea.gif);
  background-size: cover;
  background-position: center center;
  background-blend-mode: darken;
}
.todo{
  text-align: center;
  color: aliceblue;
  border: 10px solid;
  background-image: url(https://data.whicdn.com/images/262087300/original.gif);
  background-size: cover;
  background-position: center center;
  background-blend-mode: darken;
  float: left;
  width: 60%;
  height: 550px;
  
}
.parrafo{
  float: right; 
width: 40%;
  height: 550px;
  color: aliceblue;
  border: 10px solid;
  background-size: cover;
  background-position: center center;
  background-blend-mode: darken;
  text-align: center;
  padding: 200px 10px;
}
p1{
  font-size: large;
  
}
h3{
  text-align: center;
  color: aliceblue;
  border: 10px solid;
  background-color: black;
  background-size: cover;
  background-position: center center;
  background-blend-mode: darken;
}
@media  screen and (max-width: 1000px){
  body{
      padding: 0;
      width: auto;
  }